<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      parseMessageTemplates="false"
      internalLogFile="E:\temp\nlog-internal.log">
  <variable name="LogPath" value="E:\ApplicationName\LOGS\ApplicationShell\" />
  <variable name="AppName" value="ApplicationShell" />
  <variable name="AppType" value="Web App" />
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} | ${message}"/>
    <target name="jsonFile" xsi:type="File"
			archiveEvery="Day"
			archiveFileName = "${LogPath}\${AppName}-{########}.log"
			archiveNumbering = "Date"
			archiveDateFormat = "yyyyMMdd"
			maxArchiveFiles = "90"
			fileName="${LogPath}\${AppName}.log" >
      <layout xsi:type="JsonLayout" includeEventProperties="false">
        <!-- Common Attributes : BEGIN-->
        <attribute name="time" layout="${longdate}" />
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="apptype" layout="${apptype}" />
        <attribute name="appname" layout="${appname}" />
        <attribute name="callsite" layout="${callsite:skipframes=1}"/>
        <attribute name="sourceid" layout="${event-properties:item=sourceid}" />
        <attribute name="requestitem" layout="${event-properties:item=requestitem}" />       
        <attribute name="ApplicationNameid" layout="${event-properties:item=ApplicationNameid}" />
        <attribute name="taskid" layout="${event-properties:item=taskid}" />
        <attribute name="message" layout="${message}" />
        <attribute name="eventDetails" encode="false" >
          <layout xsi:type='JsonLayout' includeEventProperties="true"  maxRecursionLimit="2"/>
        </attribute>
        <attribute name="exception" encode="false">
          <layout xsi:type="JsonLayout">
            <attribute name="type" layout="${exception:format=type}" />
            <attribute name="message" layout="${exception:format=message}" />
            <attribute name="stacktrace" layout="${exception:format=tostring}" />
          </layout>
        </attribute>
        <!-- Common Attributes : END-->
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonfile" />
  </rules>
</nlog>
