<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      parseMessageTemplates="false"
      internalLogFile="E:\temp\nlog-internal.log">
	<variable name="LogPath" value="E:\ApplicationName\LOGS\ApplicationShell\" />
	<variable name="AppName" value="ApplicationShell" />
	<variable name="AppType" value="Web App" />
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} | ${message}"/>
    <target name="jsonFile" xsi:type="File"
			archiveEvery="Day"
			archiveFileName = "${LogPath}\${AppName}-{########}.log"
			archiveNumbering = "Date"
			archiveDateFormat = "yyyyMMdd"
			maxArchiveFiles = "8"
			fileName="${LogPath}\${AppName}.log"
      xdt:Transform="SetAttributes(maxArchiveFiles)" xdt:Locator="Match(name)">
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="jsonfile" xdt:Transform="SetAttributes(minlevel)" xdt:Locator="Match(name)"/>
  </rules>
</nlog>
