<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\Blazor.Shell.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>